
.justify-content-center {
    justify-content: center;
}

.display_flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.spaceAround {
    justify-content: space-around;
}

.spaceBetween {
    justify-content: space-between;
}

.align-self-end {
    align-self: end;
}

.wrap {
    flex-wrap: wrap;
}

.positionRelative {
    position: relative;
}

.textAlignCenter {
    text-align: center;
}

.fontSize30 {
    font-size: 30px;
}

.fontSize20 {
    font-size: 20px;
}

.fontBold {
    font-weight: bold;
}

.margin20 {
    margin: 20px;
}

.margin10 {
    margin: 10px;
}

.margin5 {
    margin: 5px;
}


body {
    font-family: 'Oswald', sans-serif;
}

#backButtonDiv {
    background-color: #999898;
}

.movieCard {
    width: 300px;
    height: 480px;
    margin: 15px;
    border-radius: 20px;
    background-color: #ff91a7;
}

#aboutButton {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: .4s;
}

.aboutButton {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: .4s;
}

#aboutButton:hover {
    transform: scale(1.2);
}

#mainContainer {
    background-color: #999898;
    padding: 20px 300px;
}

#movieContainer {
    background-color: #999898;
    padding: 80px 300px 300px 300px;
    display: none;
}

#infoContainer {
    margin: 0px 200px;
}

.comment {
    font-size: 20px;
    margin: 10px;
}

.commentBox {
    background-color: #5AA0F6;
    padding: 10px;
    border-radius: 15px;
}

.inputCommentBox {
    width: 800px;
    height: 300px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 20px;
}








